* {
    margin: 0;
    padding: 0;
}
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
    font-family: "Salsa", cursive;
    font-weight: 400;
    font-style: normal;
}
body {
    position: relative;
    width: 100%;
    height: 100%;
    background-image: url("background2.jpg") !important;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: inherit;
    background-attachment: fixed;
}
#element_container {
    width: 100%;
    height: 100%;
}
#oval1 {
    position: relative;
    top: 70px;
    left: 180px;
    width: 250px;
    height: 100px;
    border-radius: 50%;
    background-color: #3498db;
    display: inline-block;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-basis: 50%;
}
#fname_placeholder {
    position: absolute;
    pointer-events: none;
    font-size: 25px; /* Adjust as needed */
    color: whitesmoke; 
    text-align: center;
    place-content: center;
}
#fname_placeholder .highlight {
    color: red; /* Color for the specific letter */
}
#input1 {
    font-size: 25px; /* Match the font size */
    border: none;
    width: 230px;
    height: 80px;
    border-radius: 50%;
    background-color: transparent;
    font-family: "Salsa", cursive;
    font-weight: 900;
    text-align: center;
    place-content: center;
}
#oval2 {
    position: relative;
    top: -30px;
    left: 920px;
    width: 250px;
    height: 100px;
    border-radius: 50%;
    background-color: #3498db;
    display: inline-block;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-basis: 50%;
}
#lname_placeholder {
    position: absolute;
    pointer-events: none;
    font-size: 25px; /* Adjust as needed */
    color: whitesmoke;
    text-align: center;
    place-content: center;
}
#lname_placeholder .highlight {
    color: red; /* Color for the specific letter */
}
#input2 {
    font-size: 25px; /* Match the font size */
    border: none;
    width: 230px;
    height: 80px;
    border-radius: 50%;
    background-color: transparent;
    font-family: "Salsa", cursive;
    font-weight: 900;
    font-size: 25px;
    text-align: center;
    place-content: center;
}
#oval3 {
    position: relative;
    top: 110px;
    left: 15px;
    width: 400px;
    height: 100px;
    border-radius: 50%;
    background-color: #3498db;
    display: inline-block;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-basis: 50%;
}
#email_placeholder {
    position: absolute;
    pointer-events: none;
    font-size: 25px; /* Adjust as needed */
    color: whitesmoke;
    text-align: center;
    place-content: center;
}
#email_placeholder .highlight {
    color: red; /* Color for the specific letter */
}
#input3 {
    font-size: 25px; /* Match the font size */
    border: none;
    width: 380px;
    height: 80px;
    border-radius: 50%;
    background-color: transparent;
    font-family: "Salsa", cursive;
    font-weight: 900;
    font-size: 25px;
    text-align: center;
    place-content: center;
}
#oval4 {
    position: relative;
    top: 10px;
    left: 950px;
    width: 400px;
    height: 100px;
    border-radius: 50%;
    background-color: #3498db;
    display: inline-block;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-basis: 50%;
}
#phno_placeholder {
    position: absolute;
    pointer-events: none;
    font-size: 25px; /* Adjust as needed */
    color: whitesmoke;
    text-align: center;
    place-content: center;
}
#phno_placeholder .highlight {
    color: red; /* Color for the specific letter */
}
#input4 {
    font-size: 25px; /* Match the font size */
    border: none;
    width: 380px;
    height: 80px;
    border-radius: 50%;
    background-color: transparent;
    font-family: "Salsa", cursive;
    font-weight: 900;
    font-size: 25px;
    text-align: center;
    place-content: center;
}
#videoElement {
    position: relative;
    top: -280px;
    left: 375px;
    width: 610px;
    height: 360px;
    border-radius: 50%;
    background-color: transparent;
    z-index: -1;
}
#capture {
    filter: drop-shadow(2px 2px 25px #00020e);
}
 .button {
    position: relative;
    top: -270px;
    left: 574px;
    width: 225px;
    padding: 10px;
    font-family: "Salsa", cursive;
    font-size: 25px;
    color: whitesmoke;
    background-color: #3498db;
    border: none;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.button:hover {
    background-color: #FFD54F;
}
.button:focus {
    outline: none;
    color: black;
}
.oval:hover {
    box-shadow: 2px 2px 25px pink;
}
.oval input:focus {
    outline: solid black;
}
.popup_overlay {
    background-color: black;
    opacity: 0.9;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: none;
}

.popup-containerbg {
    position: absolute;
    top: 19%;
    left: 24%;
    width: 52%;
    height: 400px;
    z-index: 2;
    background-color: black;
    display: none;
    border-radius: 20px;
}

.popup-container {
    background-color: #FD6569;
    border-radius: 20px;
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 400px;
    z-index: 3;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.details-container {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 385px;
    height: 365px;
    margin: 10px;
    margin-right: 0;
    padding: 5px;
    border: 2px solid black;
    border-radius: 10px;
}

    .details-container h2 {
        text-shadow: 1px 1px 10px pink;
        margin: 5px;
    }

    .details-container h3 {
        border-bottom: 1px solid black;
        margin: 5px;
        margin-top: 0;
        padding: 5px;
        padding-top: 0;
    }

.buttons-container {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 95%;
    height: 50%;
    margin: 5px;
    padding: 5px;
}

    .buttons-container button {
        width: 40%;
        height: 100%;
        background-color: #FD6569;
        margin: 5px;
        padding: 5px;
        font-family: "Salsa", cursive;
        font-size: 25px;
        color: black;
    }

    #back {
        border-top-left-radius: 50%;
        border-bottom-left-radius: 50%;
        text-align: end;
    }

    #confirm_download {
        border-top-right-radius: 50%;
        border-bottom-right-radius: 50%;
        text-align: start;
    }

.image-container {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 285px;
    height: 365px;
    margin: 10px;
    margin-left: 5px;
    padding: 5px;
    border: 2px solid black;
    border-radius: 10px;
}

#photo {
    display: block;
    margin: 20px auto;
    max-width: 100%;
}

#photo-img {
    display: block;
    margin: 20px auto;
    max-width: 100%;
}